{% load i18n %}
{% load static %}

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>All your AI models in one place - Try Pixa Playground</title>
        <meta name="description" content="Get all your AI models and tools in one place" />
        <link
            rel="shortcut icon"
            href="{% static 'assets/logo/logo.png' %}"
            type="image/x-icon"
        />

        <!-- Open Graph / Facebook -->
        <meta property="og:title" content="All your AI models in one place - Try Pixa Playground" />
        <meta property="og:description" content="Get all your AI models and tools in one place" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://github.com/PaulleDemon" />
        <meta property="og:image" content="" />

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-');
        </script>
        {% include 'base/css.html' %}
        {% include 'base/navbar.html' %}

    </head>

    <body class="flex min-h-[100vh] flex-col bg-[#fcfcfc] text-black dark:bg-black  dark:text-white">
        {% block content %}

        {% endblock content %}
        {% include 'base/footer.html' %}
    </body>

        {% include 'base/js.html' %}

</html>
