{% load static %}

<header class="lg:px-4 max-w-[100vw] max-w-lg:mr-auto max-lg:top-0 fixed top-4 lg:left-1/2 lg:-translate-x-1/2 z-20 flex h-[60px] w-full text-gray-700 bg-white dark:text-gray-200 dark:bg-[#17181b] px-[3%] rounded-md lg:max-w-5xl shadow-md dark:shadow-gray-700 lg:justify-around lg:!backdrop-blur-lg lg:opacity-[0.99]">

    <a class="flex p-[4px] gap-2 place-items-center" href="#">
        <div class="h-[30px] max-w-[100px]">
            <img
                src="{% static 'assets/logo/bnb.png' %}"
                alt="logo"
                class="object-contain h-full w-full dark:invert"
            />
        </div>
        <span class="uppercase text-base font-medium">BotsNBytes</span>
    </a>

    <div class="collapsible-header animated-collapse max-lg:shadow-md" id="collapsed-header-items">
        <nav class="relative flex h-full max-lg:h-max w-max gap-5 text-base max-lg:mt-[30px] max-lg:flex-col max-lg:gap-5 lg:mx-auto place-items-center">
            <a class="header-links" href="#"> Home </a>
            <a class="header-links" href="#"> Blog </a>
            <a class="header-links" href="#"> Solutions </a>
            
            <div class="relative flex flex-col place-items-center">
                <div id="nav-dropdown-toggle-0" class="max-lg:max-w-fit flex header-links gap-1  place-items-center">
                    <span class=""> Features </span>
                    <i class="text-sm bi bi-chevron-down"></i>
                </div>
                <nav id="nav-dropdown-list-0" 
                    data-open="false"
                    class="scale-0 opacity-0  lg:fixed flex lg:top-[80px] lg:left-1/2 lg:-translate-x-1/2 
                            w-[90%] rounded-lg max-lg:h-0 max-lg:w-0
                            lg:h-[450px] overflow-hidden
                                bg-white dark:bg-[#17181B] duration-300 
                                transition-opacity transition-height shadow-lg p-4">
                    <div class="grid max-xl:flex max-xl:flex-col justify-around grid-cols-2 w-full">
                        <a class="header-links flex text-left gap-4 !p-4" href="#">
                            <div class="font-semibold text-3xl">
                                <i class="bi bi-list-columns-reverse"></i>
                            </div>
                            <div class="flex flex-col gap-2">
                                <div class="text-lg text-black dark:text-white font-medium">Prompt library </div>
                                <p>Comes packed with pre-made prompt templates</p>
                            </div> 
                        </a>

                        <a class="header-links flex text-left gap-4 !p-4" href="#">
                            <div class="font-semibold text-3xl">
                                <i class="bi bi-grid-1x2-fill"></i>
                            </div>
                            <div class="flex flex-col gap-2">
                                <div class="text-lg text-black dark:text-white font-medium">Unified Interface </div>
                                <p class="">Test multiple AI models in one interface</p>
                            </div> 
                        </a>

                        <a class="header-links flex text-left gap-4 !p-4" href="#">
                            <div class="font-semibold text-3xl">
                                <i class="bi bi-globe"></i>
                            </div>
                            <div class="flex flex-col gap-2">
                                <div class="text-lg text-black dark:text-white font-medium">Realtime web search </div>
                                <p class="">Search the internet in realtime</p>
                            </div> 
                        </a>

                        <a class="header-links flex text-left gap-4 !p-4" href="#">
                            <div class="font-semibold text-3xl">
                                <i class="bi bi-image-fill"></i>
                            </div>
                            <div class="flex flex-col gap-2">
                                <div class="text-lg text-black dark:text-white font-medium">
                                    Image generation
                                </div>
                                <p class="">Generate images from prompts</p>
                            </div> 
                        </a>

                        <a class="header-links flex text-left gap-4 !p-4" href="#">
                            <div class="font-semibold text-3xl">
                                <i class="bi bi-calendar-range"></i>
                            </div>
                            <div class="flex flex-col gap-2">
                                <div class="text-lg text-black dark:text-white font-medium">
                                    History
                                </div>
                                <p class="">Continue from where you left off</p>
                            </div> 
                        </a>

                        <a class="header-links flex text-left gap-4 !p-4" href="#">
                            <div class="font-semibold text-3xl">
                                <i class="bi bi-translate"></i>
                            </div>
                            <div class="flex flex-col gap-2">
                                <div class="text-lg text-black dark:text-white font-medium">
                                    Multilingual
                                </div>
                                <p class="">Converse in multiple languages</p>
                            </div> 
                        </a>
                    </div>           
                </nav>
            </div>
            <a class="header-links" href="#pricing"> Pricing </a>   
        </nav>

        <div class="lg:mx-4 flex place-items-center gap-[20px] text-base max-md:w-full max-md:flex-col max-md:place-content-center">
            <button type="button" onclick="toggleMode()" class="header-links text-gray-600 dark:text-gray-300" title="toggle-theme" 
                    id="theme-toggle"> 
                <i class="bi bi-sun" id="toggle-mode-icon"></i>
            </button>
            <a
                href="#"
                aria-label="Try Pixa Playground"
                class="btn flex gap-3 px-3 py-2 transition-transform duration-[0.3s] hover:translate-x-2">
                <span>Schedule Call</span>
                <i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>

    <button class="bi bi-list absolute right-3 top-3 z-50 text-3xl text-gray-500 lg:hidden" onclick="toggleHeader()" aria-label="menu" id="collapse-btn"
    ></button>
</header>


